<% if resource.errors.any? %>
  <div class="error-message">
    <%# <h2>
      <%= I18n.t("保存できません",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    <%# </h2>  %>
      <% resource.errors.full_messages.each do |message| %>
        <p><i class="fa fa-check check-btm"></i></span> <%= message %></p>
      <% end %>
  </div>
<% end %>


