<% if resource.errors.any? %>
  <div class="error-message">
      <% resource.errors.full_messages.each do |message| %>
        <p><i class="fa fa-check check-btm"></i></span> <%= message %></p>
      <% end %>
  </div>
<% end %>


