.intro-wrap {
    height: 40em;
    background-image: url('back-image.gif');
    background-repeat: repeat-x;
}

.top-intro {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.intro-image {
    padding: 4em 0;
    display: flex;
    justify-content: space-between;
}

.intro-img {
    height: 20em;
    width: 20em;
    border: solid 1px #009D4C;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
}

.top-intro p {
    text-align: center;
    color: #009D4C;
    font-size: 2.5em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 0.6em;
}

.top-intro a {
    border-radius: 50px;
    height: 3em;
    width: 15em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    background-color: #F4CD4E;
    margin-left: 20px;
    display: block;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: .4s;
}

.top-intro a:hover {
    background-color: #fad764;
}


/* 新着一覧見出し */

.top-new-head {
    display: flex;
}

.top-new-list {
    height: auto;
    width: 50vw;
    padding-left: 1em;
    padding-bottom: 0.3em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
    color: #009D4C;
    border-left: solid 8px;
    border-bottom: solid 1px;
    font-weight: bold;
}


/********** 写真投稿一覧 **********/

.photo-posts {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-post-card {
    width: 16.5em;
    height: auto;
    margin-bottom: 1.3em;
    box-sizing: content-box;
    border-radius: 0.5em;
    border: 1px solid #009D4C;
    box-shadow: 0 0.3em 0.5em 0 rgb(96 125 139 / 13%);
}

.photo-box {
    background-color: #000;
    width: 15em;
    height: 15em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.9em;
}

.photo-box img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.photo-info {
    margin: 0 0.77em;
}

@media screen and (min-width:1001px) {
    .post {
        display: flex;
    }
    .photo-post-card:nth-child(odd) {
        margin-right: 1em;
    }
    .photo-posts,
    .record-posts {
        padding-right: 1.2em;
        padding-left: 1.2em;
    }
}

@media screen and (max-width:1000px) {
    .photo-posts {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .record-posts {
        width: 100vw;
        height: auto;
    }
    .photo-post-card {
        margin-right: 1.3em;
    }
}


/********** 育成記録投稿一覧 **********/

.record-posts {
    width: 50vw;
    height: auto;
    border-left: 1px dotted #009D4C;
}

.record-post-card {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    margin-bottom: 1em;
    display: flex;
    border: 1px solid #009D4C;
    box-shadow: 0 0.3em 0.5em 0 rgb(96 125 139 / 13%);
}

.record-image {
    width: 10em;
    height: 10em;
    margin: 0.7em;
    display: block;
}

.record-info {
    width: 100%;
    margin: 0.7em 0.7em 0.7em 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.record-title {
    border-bottom: 1px dotted #009D4C;
    padding-bottom: 0.2em;
    font-weight: bold;
}

.record-text {
    height: 100%;
    margin-top: 0.3em;
}

.record-start-date {
    color: #009D4C;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.2em 0;
}