<header class='top-header'>
  <div class="header-contents">
      <%= link_to image_tag("stolon_logo.png", class:"stolon-logo"), "/" %>
      <ul class="header-menu">
      <li><a href="" class="login">ログイン</a></li>
      <li><a href="" class="sgin-up">新規登録</a></li>
      </ul>
  </div>
</header>