<section class="post">
  <div class="photo-posts">
<% @photos.each do |photo| %>
    <div class="photo-post-card"><%# ---- 写真投稿ここから ---- %>
      <div class="photo-box">
        <%= link_to image_tag(photo.image, class:"photo-image"), photo_path(photo.id) %><%# 投稿画像を表示 %>
      </div>
      <div class="photo-info">

        <span class="name">
          <a href="/">
            <span><%= photo.user.name %></span><%# 投稿者名表示 %>
            <%#= tweet.user.nickname %>
          </a>
          <span class="post-date"><%= photo.created_at.strftime("%Y/%m/%d") %></span><%# 投稿日付表示 %>
        </span>
      </div>
    </div>
    <% end %>
  </div><%# ---- 写真投稿ここまで ---- %>


  
  
</section>