<section class="post">
  <div class="photo-posts">
<% @photos.each do |photo| %>
    <div class="photo-post-card"><%# ---- 写真投稿ここから ---- %>
      <div class="photo-box">
        <%= link_to image_tag(photo.image, class:"photo-image"), photo_path(photo.id) %><%# 投稿画像を表示 %>
      </div>
      <div class="photo-info">

        <span class="name">
          <a href="/">
            <span><%= photo.user.name %></span><%# 投稿者名表示 %>
            <%#= tweet.user.nickname %>
          </a>
          <span class="post-date"><%= photo.created_at.strftime("%Y/%m/%d") %></span><%# 投稿日付表示 %>
        </span>
      </div>
    </div>
    <% end %>
  </div><%# ---- 写真投稿ここまで ---- %>

  <div class="record-posts"><%# ---- 育成記録ここから ---- %>

    <div class="record-post-card">
      <a href="/">
        <img class="record-image" src="http://test_img1.jpg">
      </a><%# 投稿画像を表示 %>
          <div class="record-info">
            <div class="record-title">
            <i class="fas fa-calendar-check"></i>ラナンキュラスを育てます<%# 投稿タイトルを表示 %>
          </div>
          <div class="record-text">
            去年のランキュラスが芽を出したので観察を始めようと思います！<%# 投稿コメントを表示 %>
          </div>
          <p class="record-start-date">育成開始日：2020年9月16日</p><%# 投稿育成開始日を表示 %>
            <span class="name">
              <a href="/"><span>みか</span><%#= tweet.user.nickname %></a><%# 投稿名を表示 %>
              <span class="post-date">2020/09/20</span><%# 投稿日を表示 %>
            </span>
          
        </div>
    </div>

  </div><%# ---- 育成記録ここまで ---- %>
  
  
</section>