<%= render "shared/header" %>
<div class="intro-wrap">
  <div class="top-intro">
  <div class="intro-image">
    <div class="intro-img">①撮影しよう<br>育てている植物を撮影<br>外出先で綺麗な景色を撮影<br>名前を知りたい植物を撮影</div>
    <div class="intro-img">②投稿してみよう<br>みんなにみてもらいたい！<br>知らない植物の名前を教えてもらいたい！</div>
    <div class="intro-img">③交流してみよう<br>好きな投稿にいいねして交流しよう！<br>分からないことはアドバイスしあおう！</div>
  </div>
  <p>お気に入りのグリーンを投稿しよう！</p>
    <a hlef="">新規登録</a>
  </div>
</div>

<div class="wrapper">
<div class=top-new-head>
  <p class="top-new-list">
  新着フォト
  </p>
  <p class="top-new-list">
  新着育成記録
  </p>
</div>
  <%= render "shared/main-post" %>
</div>