/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
}

*:focus {
    outline: none;
}

article,
footer,
header,
section {
    display: block;
}

html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

.wrapper {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.field_with_errors {
    display: contents
}

h2 {
    margin: 1em;
    color: #009D4C;
    font-size: 2em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

input:focus {
    outline: 0;
}

.error-message {
    width: 27em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.error-message p {
    font-size: 1em;
}

.sub-btn {
    color: #019f4c;
}

.check-btn {
    color: #dc143c;
}

.form-wrap {
    background-color: #fff;
    max-width: 900px;
    border-radius: 15px;
    border: solid 1px #009D4C;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
}

.form-wrapper {
    background-image: url('shared/back-image.gif');
    background-repeat: repeat-x;
    padding-top: 6em;
}

.field {
    margin: 1.5em 0;
    width: 35em;
    margin-left: auto;
    margin-right: auto;
}

.form-wrap ul {
    display: flex;
}

.form-wrap li {
    margin-left: 1em;
    text-align: end;
}

.input-default {
    width: 20em;
    margin-top: 5px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
}

.input-label {
    width: 11em;
    margin-top: 1em;
    font-weight: bold;
}

.input-label li {
    width: 10em;
    font-weight: bold;
    outline: none;
}

.indispensable {
    background-color: #dc143c;
    color: #fff;
    padding: 0.3em;
    border-radius: 4px;
    font-size: 0.9em
}

.arbitrary {
    background-color: #009D4C;
    color: #fff;
    padding: 0.3em;
    border-radius: 4px;
    font-size: 0.9em
}

.text-default {
    width: 20em;
    margin-top: 5px;
    height: 8em;
    padding: 10px 16px 8px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
}

.radio {
    line-height: 3.3em;
}

.register-btn {
    width: 15em;
    background-color: #009e4c;
    transition: .4s;
    border: 0;
    border-radius: 30px;
    color: #fff;
    line-height: 56px;
    font-size: 1.2em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
    outline: none;
    margin: 0.5em 0 2em 0;
}

.register-btn:hover {
    background-color: #05bb5a;
}


/*** いいね ***/

.like {
    width: 3em;
    height: 100%;
    display: block;
}

.like-btn {
    color: #e60033;
    font-size: 1em;
}

.like-sum {
    color: #e60033;
    font-size: 0.8em;
    font-weight: bold;
}


/*** 投稿者名 ***/

.name {
    width: 100%;
    height: auto;
    display: block;
    text-align: end;
    font-size: 0.9em;
    margin: 0.5em 0;
}

.name a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


/*** 投稿日 ***/

.post-date {
    color: #a9a9a9;
    font-size: 0.9em;
}


/** 詳細 **/

.photo-show {
    width: 40em;
}

.show-wrapper {
    background-image: url('shared/back-image.gif');
    background-repeat: repeat-x;
    padding-top: 2em;
}

.photo-show-wrap {
    display: flex;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}


/** 左側 **/

.photo-show-box {
    background-color: #000;
    width: 40em;
    height: 40em;
    overflow: hidden;
}

.photo-show img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.photo-tags {
    width: 100%;
    height: auto;
    margin: 0.4em 0.3em 0 0.3em;
    border-radius: 10px;
}

.tags-list {
    color: #019f4c;
    word-break: keep-all;
}

.tags-btn {
    margin: 0.4em 0;
    color: #009e4c;
    font-size: 1.2em;
}

.tag-name {
    color: #fff;
    font-size: 0.9em;
    border: 1px solid #009d4c;
    background-color: #009d4c;
    padding: 0.3em;
    border-radius: 10px;
    vertical-align: text-bottom;
}

.keyword {
    font-size: 0.8em;
    vertical-align: text-bottom;
    font-weight: bold;
}

.photo-comment {
    width: 100%;
    height: 6em;
    background-color: #eceaea;
}

.show-title {
    border-radius: 5px 5px 0 0;
    margin: 0.3em 0.3em 0 0.3em;
    border: 1px solid #009e4c;
    border-bottom: 1px dotted #009e4c;
    background-color: #f7f7f7;
    ;
}

.fa-camera {
    margin: 0.9px;
    margin: 0.3em;
}

.show-info {
    height: auto;
    border: 1px solid #009d4c;
    border-top: none;
    margin: 0 0.3em 0.3em 0.3em;
    padding: 0.3em;
}


/** ユーザー情報 **/

.post-show-user {
    width: 100%;
    height: auto;
    border: 1px solid #009d4c;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 2em;
    display: inline-table;
}

.post-show-user img {
    width: 4em;
    height: 4em;
    background-color: aquamarine;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.3em;
}

.post-show-name {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10em;
    padding-bottom: 1.5em;
    border-bottom: 1px dotted #009e4c;
}

.post-show-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    width: 15em;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #333333;
    font-size: 0.9em;
}